.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width:100vw;
    
}
.form{
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    flex-direction: column;
    background-color: blueviolet;
    border-radius: 10px;
    
}
.form button{
    margin-top: 20px;
}